.container_filtres{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    font-family: "relaway_bold";
    font-size: 18px ;
    margin: 25px 0px 0px 0px;
    align-items: center;
}

.item_filtres{
    margin: 0px 15px;
    transition-timing-function: linear;
    transition-property:all;
    transition-duration: 500ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 47px;
    border: solid 3px #F2F2F2;
    border-left: none;
    padding: 0px 15px 0px 0px;
    border-radius: 50px;
}

.item_filtres:hover{
    cursor: pointer;
    border: solid 3px #DEEBFF;
    border-left: none;
}

.is_active_filtres{
    transition-timing-function: linear;
    transition-property:all;
    transition-duration: 500ms;
    background-color: #DEEBFF;
    flex-direction: row-reverse;
    align-items: center;  
    padding: 0px 0px 0px 15px;
    border-right: none;
    border-left: solid 3px #F2F2F2;
}

.is_active_filtres>.rond_filtres{
    background-color: #0065FC;
    color: #DEEBFF;
    margin:0px 0px 0px 10px;
    border: solid 3px #0065FC;
}

.rond_filtres {
    margin:0px 10px 0px 0px;
    background-color: #DEEBFF;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px #DEEBFF;
    border-radius: 50px;
    color: #0065FC;
}


@media (max-device-width: 768px) {
    .container_filtres{
        flex-wrap: wrap;
    }

    .container_filtres>p{
        width: 100%;
    }

    .item_filtres{
        margin: 5px 5px;
    }
}