body {
    margin:0px 9% 0px 55px ;
    padding:0;
    font-family: "relaway_regular";
}

a {
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: "relaway_regular" ;
    src: url(../fonts/Raleway/static/Raleway-Regular.ttf) ;
}

@font-face {
    font-family: "relaway_bold" ;
    src: url(../fonts/Raleway/static/Raleway-Bold.ttf) ;
}

main {
    margin: 35px 0px 0px 0px;
}

h3{
    font-family: "relaway_regular" ;
    font-size: 135%;
    margin: 0;
}
p{
    margin: 5px 0px;
}

#container_info{
    display: flex;
    flex-direction: row;
    font-size: 9;
    margin: 30px 0px 30px 0px;
    align-items: center;
}

#container_logo_info{
    margin: 0px 10px 0px 0px ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "relaway_bold";
    border: 2px solid #F2F2F2;
    font-size: 12px;
    height: 20px;
    width: 20px;
    color: #0065FC;
    border-radius: 50px;
}