header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 92px;
}

nav {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    align-items: flex-end;
}

.element_nav {
    display: flex;
    justify-content: center;
    height: 65px;
    padding: 0px 25px;
    align-items: flex-end;
}

.active{
    color: #0065FC;
}

.element_nav_active {
    border-top: 2px solid #0065FC;
}

#container_logo{
    align-self: flex-end;
    margin-left: 15px;
}