.container_hebergements{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.background_gris{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 35px;
    font-family: "relaway_bold";
    font-size:140% ;
    width: 75%;
}

.container_hebergements_info{
    background-color: #fff;
    display: flex;
    height: 200px;
    width: 29%;
    margin: 15px 5px;
    padding: 5px 5px;
    border-radius: 20px;
    flex-direction: column;
    box-shadow:   2px 2px 15px 3px rgba(0,0,0,0.3)
}

.img_hebergement{
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    width:100%;
    height:65%;
}

.titre_chambre{
    font-family: "relaway_bold";
    font-size:75% ;
}

.texte_info{
    font-family: "relaway_regular";
    font-size:14px;
    margin: 0px;
}

.bon_prix{
    font-family: "relaway_bold";
    font-size:100% ;
}

.container_etoile{
    display: flex ;
    flex-direction: row ;
    font-size: 12px;
    margin: 5px 0px 0px 0px;
}

.blue{
    color: #0065FC;
}

.gris{
    color: #F2F2F2
}

.container_text_info{
    margin: 0px 0px 0px 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0px;
}

.show_more_hebergement{
    font-size:17px; 
    padding: 20px 0px 0px 5px;
}

@media (max-device-width: 996px) and (min-device-width:768px) {
    .background_gris{
        width: auto;
    }
}


@media (max-device-width: 768px) {
    .background_gris{
        background-color: #fff;
        padding: 25px;
        width: auto;
    }
    .container_hebergements{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        flex: 1;
    }
    .container_hebergements_info{
        height: 175px;
        width: 100%;
        margin: 5px 0px;
    }
    .texte_info{
        font-size: 12px;
    }
    .titre_chambre{
        font-size: 14px;
    }
    .container_etoile{
        font-size: 10px;
    }

    .titre_container_hebergement{
        font-size: 20px;
        margin: 10px 0px ;
    }

    .show_more_hebergement{
        font-size:14px; 
        padding: 20px 0px 0px 0px;
    }
}