.loader {
    &-item {
        border: 10px solid $color-gray;
        border-top: 10px solid $color-primary;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        left: 40%;
        top:15%;
        opacity: 1;
        z-index: -1;
        visibility: hidden;
        position: absolute;
        animation: spin 1s linear infinite, displayLoader 3s;
    }

    &-out {
        animation: out 3s;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes displayLoader {
    0% {
        visibility: visible;
        z-index: 100
    }

    100% {
        visibility: hidden;
        z-index: -1;
    }
}

@keyframes out {
    0%  {
        opacity: 0;
    }
    90%  {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}