$color-primary: #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$color-gray: #F2F2F2;

$font-text-family : "roboto-regular";
$font-title-family : "shrikand";

@font-face {
    font-family: "shrikand" ;
    src: url(../../../fonts/shrikhand/Shrikhand-Regular.ttf) ;
}

@font-face {
    font-family: "roboto-regular" ;
    src: url(../../../fonts/roboto/Roboto-Regular.ttf) ;
}

@mixin shadow-obj {
    box-shadow: 0px 3px 12px 3px rgba(0,0,0,0.22);
    
}