.header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    &-container__logo{
        max-width: 45%;
    }
    &-arrow{
        color:darken($color-gray,70%);
        font-size: 20px;
        position: relative;
        right: 15%;
    }
}

@media (min-width: 768px) {
    .header{
        padding: 15px;
        &-arrow{
            font-size: 35px;
        }
    }
}