@font-face {
  font-family: "shrikand";
  src: url(../../../fonts/shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: "roboto-regular";
  src: url(../../../fonts/roboto/Roboto-Regular.ttf);
}

.header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header-container__logo {
  max-width: 45%;
}

.header-arrow {
  color: #404040;
  font-size: 20px;
  position: relative;
  right: 15%;
}

.container-global {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: "shrikand";
}

.text {
  font-family: "roboto-regular";
}

.huge-text {
  font-weight: bold;
  font-size: 22px;
}

.logo {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

a {
  color: black;
  text-decoration: none;
}

.gray {
  background-color: #F2F2F2;
}

.text_trunc {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  background-color: #e5e5e5;
  border-top: 2px solid #cccccc;
}

.container-location__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-location__item--text {
  color: #404040;
  font-weight: bold;
  font-size: 16px;
}

.container-location__item--icon {
  margin-right: 15px;
  font-size: 20px;
}

.container-explain {
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #F2F2F2;
  padding: 8%;
}

.container-explain__text {
  text-align: center;
}

.container-explain__sentences {
  font-size: 16px;
  text-align: center;
  color: #737373;
  margin-top: 10px;
}

.functioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 20px;
}

.functioning-text {
  margin: 20px 0px;
}

.functioning-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F2F2;
  margin: 10px 0px;
  border-radius: 25px;
  height: 65px;
  padding: 0px 40px;
  -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.18);
}

.functioning-item--active {
  background-color: rgba(147, 86, 220, 0.1);
}

.functioning-item__circle {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 3%;
}

.functioning-item__circle > p {
  color: white;
  font-size: 12px;
}

.functioning-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.functioning-item__info--icon {
  color: #737373;
  font-size: 18px;
  margin-right: 20px;
}

.functioning-item__info--icon--active {
  color: #9356DC;
}

.functioning-item__info--text {
  font-weight: bold;
  font-size: 16px;
}

.restaurant {
  background-color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

.restaurant-text {
  margin-top: 25px;
  margin-bottom: 15px;
}

.restaurant-item {
  border-radius: 15px;
  background-color: white;
  margin: 10px 0px;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.18);
}

.restaurant-item__image {
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 75%;
}

.restaurant-item__new {
  position: absolute;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 100px;
  right: 10%;
  margin-top: 15px;
}

.restaurant-item__new--text {
  color: #2c9c81;
  font-weight: bold;
}

.item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px 20px 5px 10px;
}

.item-info__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.item-info__title--text {
  font-weight: bold;
  font-size: 18px;
}

.item-info__heart {
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
}

.button {
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  border: none;
  border-radius: 50px;
  height: 40px;
  padding: 10px;
  color: white;
  text-align: center;
  margin-top: 20px;
  width: 200px;
  -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.18);
}

.footer {
  background-color: #333333;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-title {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-item__text {
  color: white;
  font-size: 14px;
  margin: 7px 0px;
}

.footer-item__icon {
  color: white;
  font-size: 14px;
  margin-right: 10px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 15px;
  position: relative;
  bottom: 55px;
  border-radius: 35px 35px 0px 0px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.menu-title__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
  margin-bottom: 25px;
}

.menu-title__text {
  font-size: 26px;
  font-weight: 500;
}

.menu-item {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  border-radius: 20px;
  margin: 10px 0px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.18);
  overflow: hidden;
}

.menu-item__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px 15px;
  min-width: 60%;
}

.menu-item__text {
  font-size: 20px;
  font-weight: bold;
}

.menu-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item__price {
  font-size: 15px;
  font-weight: bold;
  margin: 0px 5px;
}

.menu-item:active .check, .menu-item:hover .check {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  min-width: 75px;
}

.menu-item:active .check > .check--anime, .menu-item:hover .check > .check--anime {
  -webkit-transform: translate(0, 0) rotate(720deg);
          transform: translate(0, 0) rotate(720deg);
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 35px;
}

.green-line {
  height: 4px;
  background-color: #99E2D0;
  width: 40px;
  margin: 5px 0px;
}

.check {
  width: 0px;
  background-color: #99E2D0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-origin: right 50%;
          transform-origin: right 50%;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.check--anime {
  color: white;
  font-size: 30px;
  -webkit-transform: translate(100px, 0);
          transform: translate(100px, 0);
  display: block;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 650ms ease-in-out;
  transition: all 650ms ease-in-out;
}
/*# sourceMappingURL=main.css.map */